@model Product
@{
    ViewData["Title"] = "Home page";
}

<div class="page-header d-md-flex justify-content-between">
    <div>
        <h3>Users</h3>
        <nav aria-label="breadcrumb" class="d-flex align-items-start">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="index" asp-controller="home">Items Management</a>
                </li>
            </ol>
        </nav>
    </div>
    <div class="mt-2 mt-md-0">
        <a href="#" class="btn btn-success" data-toggle="modal"
        data-target="#mdlNew" onclick=" resetSize()" title="Add new item">
        Add new item
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="user-list" class="table table-lg">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Sizes</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int ItemIndex = 0 ; ItemIndex < Model.Items.Count ; ++ItemIndex)
                            {
                                Item Item = Model.Items[ItemIndex];
                                <tr>
                                    <td>@Item.Id</td>
                                    <td>
                                        <img src="~/images/@Item.Picture"   
                                        class="rounded-circle"   
                                        height="40" width="40"   
                                        asp-append-version="true" />  
                                        @Item.Name
                                    </td>
                                    <td>@Item.Price</td>
                                    <td>@Item.SizeIds.Count</td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a href="#" data-toggle="dropdown"
                                               class="btn btn-floating"
                                               aria-haspopup="true" aria-expanded="false">
                                                <i class="ti-more-alt"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                 <a href="#" class="dropdown-item text-danger" data-toggle="modal"
                                                data-target="#mdlNew" title="Edit item" 
                                                onclick="UpdateDialogWithModel(@ItemIndex)">Edit</a>
                                                <a href="#" onclick="DeleteItem(@Item.Id)" class="dropdown-item text-danger">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<form enctype="multipart/form-data" id="formId" asp-action="Save" method="post">

<div id="mdlNew" class="modal fade modal-item" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Add new item</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div id="frmItem">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Item Name</label>
                               <input asp-for="ItemName" id="ItemNameId"  class="form-control" />  
                               <span asp-validation-for="ItemName" class="text-danger"></span> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Price</label>
                                <input asp-for="Price" id="ItemPriceId" class="form-control" />  
                            <span asp-validation-for="Price" class="text-danger"></span>  
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                               
                            <label asp-for="Image" class="control-label"></label>  
                            <div class="custom-file">  
                                <input asp-for="Image" class="custom-file-input" id="customFile">  
                                <label class="custom-file-label" for="customFile">Choose file</label>  
                            </div>  
                            <span asp-validation-for="Image" class="text-danger"></span>  
                            </div>
                          
                        </div>
                    </div>

                    <div class="SizeClass row" for="sizes">
                        <div class="col-5">
                            <div class="form-group">
                                <label class="SizeNameLabelClass">Size Name</label>
                                <input name="SizeNames" class="form-control SizeNameClass" />  
                                <span  class="SizeNameSpanClass text-danger"></span>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label class="SizePriceLabelClass">Size Price</label>
                                <input  name="SizePrices" class="form-control SizePriceClass" />  
                                <span class="SizePriceButtonClass text-danger"></span>
                            </div>
                        </div>
                        <div class="SizeButtonClassName col-2">
                            <div class="form-group"  style="margin-top: 27%;">
                                <a href="Javascript:void(0);") 
                                class="btn btn-success add-size ">Add</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" id="btnSaveHours" class="btn btn-primary" title="Save">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
  </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        
        $(document).on('click', '.add-size', function (){
            addSize()});

        $(document).on('click', '.remove-size', function () {
            $(this).closest('div[for="sizes"]').remove();
        }); 

        
        function UpdateDialogWithModel(index)
        {
           resetSize();
           var list = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.Items));
           
           document.getElementById("ItemPriceId").value = list[index].Price;
           document.getElementById("ItemNameId").value =  list[index].Name;
           document.getElementsByClassName("SizeNameClass")[0].value =  list[index].SizeIds[0].Type;
           document.getElementsByClassName("SizePriceClass")[0].value =  list[index].SizeIds[0].SizePrice;

         //  console.log(list);

           for(var i=1 ; i< list[index].SizeIds.length ; ++i)
           {
              addSize();
              document.getElementsByClassName("SizeNameClass")[i].value =  list[index].SizeIds[i].Type;
              document.getElementsByClassName("SizePriceClass")[i].value =  list[index].SizeIds[i].SizePrice;
           }
           document.getElementById("formId").action = "/Home/Edit/" + list[index].Id;


        }

        function DeleteItem(index){

               $.ajax({
                url: '/Home/Delete/' + index ,
                type: 'DELETE',
                contentType: 'application/json',
                success: function (data) {
                    location.reload();
                },
                });
        }

        function addSize()
        {
            var size = $('div[for="sizes"]:first').clone();

            size.find('.add-size').addClass('remove-size');
            size.find('.add-size').addClass('btn-danger');
            size.find('.add-size').text('Remove');
            size.find('.add-size').removeClass('add-size');
            $('#frmItem .modal-body').append(size);
        }

        function resetSize()
        {
           document.getElementById("ItemPriceId").value  = '';
           document.getElementById("ItemNameId").value  =  '';
           
           document.getElementsByClassName("SizeNameClass")[0].value =  '';
           document.getElementsByClassName("SizePriceClass")[0].value = '';

           removeElementsByClass("SizeNameClass") ;
           removeElementsByClass("SizeNameLabelClass") ;
           removeElementsByClass("SizeNameSpanClass") ;
           removeElementsByClass("SizePriceClass") ;
           removeElementsByClass("SizePriceLabelClass") ;
           removeElementsByClass("SizePriceButtonClass") ;
           removeElementsByClass("SizeButtonClassName") ;
           removeElementsByClass("SizeClass") ;

           
           document.getElementById("formId").action = "/Home/Save";
        }
       
        function removeElementsByClass(className){
             var elements = document.getElementsByClassName(className);
             while(elements.length > 1){
             elements[1].parentNode.removeChild(elements[1]);
             }
        }

    </script>
}